.movie-listings {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  gap: 1em;
}

.no-movie-listings,
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.movie-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.movie-filtering {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}

.movie-filtering form {
  margin-right: 20px;
}

#filterField {
  width: 60px;
  text-indent: 20px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ababab;
  color: #ababab;
  border-radius: none;
  font-size: 1.1em;
}

@media only screen and (min-width: 1025px) {
  #sortingList {
    background: #1e272e;
    border: none;
    min-height: 30px;
    font-size: 1.1em;
  }

  label,
  #sortingList {
    color: #ababab;
  }

  #filterField:focus,
  #sortingList:focus {
    outline: none;
  }
}

/* iPhone X Portrait*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
  .movie-filtering {
    flex-direction: column;
  }

  .movie-filtering form {
    margin-bottom: 20px;
  }
}

/* Mobile phones Portrait */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
and (orientation : portrait) {
  .movie-filtering {
    flex-direction: column;
  }

  .movie-filtering form {
    margin-bottom: 20px;
  }
}
