.movie-listings {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  gap: 1em;
}

.no-movie-listings,
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.movie-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.movie-filtering {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}

.movie-filtering form {
  margin-right: 20px;
}

#filterField {
  width: 60px;
  text-indent: 20px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ababab;
  font-size: 1.1em;
}

#sortingList {
  background: #1e272e;
  border: none;
  min-height: 30px;
  font-size: 1.1em;
}

label,
#filterField,
#sortingList {
  color: #ababab;
}

#filterField:focus,
#sortingList:focus {
  outline: none;
}
