<div class="main-container">
  <div *ngIf="movieListings" class="movie-filtering">
    <form>
      <label for="sortingList">Sort by: </label>
      <select id="sortingList" [(ngModel)]="sortingList" name="sortingList">
        <option *ngFor="let option of sortOptions" [value]="option.value"> {{ option.text }} </option>
      </select>
    </form>

    <form>
      <label for="filterField">Filter by rating: </label>
      <input id="filterField" type="number" step="0.5" min="0" max="10" [(ngModel)]="filterTerm" name="filterField">
    </form>
  </div>

  <div *ngIf="!movieListings" class="loader">
    <app-loader></app-loader>
  </div>

  <div *ngIf="movieListings" class="movie-listings">
    <app-movie-listing
      *ngFor="let movie of (movieListings?.results | filterListings: sortingList:filterTerm)"
      [movie]="movie"
      [configuration]="configuration"
      class="movie-item">
    </app-movie-listing>
  </div>

  <div *ngIf="(movieListings?.results | filterListings: sortingList:filterTerm)?.length == 0" class="no-movie-listings">
    <h2>Sorry, no movies available</h2>
  </div>
</div>
