.movie-listings {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1em;
}

.movie-item {
  border: 1px solid rgba(0, 0, 0, 1);
  object-fit: cover;
  text-align: center;
}

.movie-filtering {
  margin: 20px 0;
}
