.movie-title {
  margin-bottom: 10px;
}

.genres {
  font-size: 0.75em;
  text-align: center;
}

/**
* Make all images to have the same height
*/
.responsive-img {
  object-fit: contain;
  max-width: calc(185px + 40px);
  max-height: calc(190px + 80px);
  width: auto;
  height: auto;
  overflow: hidden;
  box-shadow: -9px 11px 20px -3px rgba(0,0,0,0.70);
  -webkit-box-shadow: -9px 11px 20px -3px rgba(0,0,0,0.70);
  -moz-box-shadow: -9px 11px 20px -3px rgba(0,0,0,0.70);
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: calc(50% - 80px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #EE5A24;
  color: white;
  font-size: 0.85em;
  font-weight: bold;
  z-index: 100;
  box-shadow: -9px 11px 20px -3px rgba(0,0,0,0.70);
  -webkit-box-shadow: -9px 11px 20px -3px rgba(0,0,0,0.70);
  -moz-box-shadow: -9px 11px 20px -3px rgba(0,0,0,0.70);
}
