/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background: #1e272e;
  color: white;
}

.main-container {
  padding: 20px;
  margin-bottom: 10%;
}
